@import "../../styles/variables";

.buttonBoxCol {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.inputNumber {
	color: black;
}

.dark-mode {
	.buttonBoxCol {
		color: $dark-mode-font-color;
	}
	.inputNumber .ant-input-number-input {
		color: $dark-mode-font-color;
	}
	.addButton {
		background-color: $dark-mode-background-color;
	}

	.restButton {
		background-color: $dark-mode-background-color;
	}
}
