// src/components/ShoppingCart/ShoppingCart.scss

.cart-item {
	border: 1px solid #ddd;
	padding: 1rem;
	margin-bottom: 1rem;
}

.light-mode .cart-item {
	background-color: var(--background-light);
	color: var(--text-light);
}

.dark-mode .cart-item {
	background-color: var(--background-dark);
	color: var(--text-dark);
}

.buttonRow {
	display: flex;
	justify-content: space-around;
}
.cardContainer {
	display: flex;
	justify-content: center;
}

.shoppingCartContainer {
	padding: 0 24px;
}

.subtotal {
	border: 2px solid black;
	border-radius: 5%;
	padding: 0 2%;
}

.total {
	font-size: 24px;
	margin: 8px 0;
}
