@import "../../styles/variables";

.dark-mode {
	background-color: $dark-mode-background-color;
	color: $dark-mode-font-color;

	.shoppingCartTitle {
		color: $dark-mode-font-color;
	}

	.shoppingCartTitleContainer {
		background-color: $dark-mode-background-color;
	}

	.total {
		color: $dark-mode-font-color;
	}

	.subtotal {
		border: 2px solid $secondary-color;
	}
}

.buttonRow {
	display: flex;
	justify-content: space-around;
}
.cardContainer {
	display: flex;
	justify-content: center;
}

.shoppingCartContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 32px;
	height: 100vh;
}

.shoppingCartTitleContainer {
	display: flex;
	justify-content: center;
	background-color: $primary-color;
}

.subtotal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 2px solid black;
	border-radius: 5%;
	padding: 2%;
	height: fit-content;
}

.total {
	color: $primary-font-color;
	font-size: 36px;
	margin: 8px 0;
}

.cartItemColumn {
	display: flex;
	flex: 0 1 11%;
	justify-content: center;
}

.cartItemContainer {
	display: flex;
	gap: 16px;
	flex-direction: column;
	padding: 0 32px;
}

.cartItem {
	width: 100%;
}

.shoppingCartTitle {
	margin-top: 15px;
}
