@import "../../styles/variables";

.cart-item {
	border: 1px solid #ddd;
	padding: 1rem;
	margin-bottom: 1rem;
}

.cart-item {
	background-color: $primary-color;
	color: $primary-font-color;
}

.dark-mode {
	background-color: $dark-mode-background-color;
	color: $dark-mode-font-color;

	.shoppingCartTitle {
		color: $dark-mode-font-color;
	}

	.total {
		color: $dark-mode-font-color;
	}
}

.buttonRow {
	display: flex;
	justify-content: space-around;
}
.cardContainer {
	display: flex;
	justify-content: center;
}

.shoppingCartContainer {
	padding: 0 24px;
}

.shoppingCartTitleContainer {
	display: flex;
	justify-content: center;
	background-color: $primary-color;
}

.subtotal {
	border: 2px solid black;
	border-radius: 5%;
	padding: 0 2%;
}

.total {
	color: $primary-font-color;
	font-size: 24px;
	margin: 8px 0;
}
