@import "../../styles/variables";

.addProductContainer {
	display: flex;
	justify-content: center;
	background-color: $primary-color;
	color: $primary-font-color;
}

.dark-mode {
	background-color: $dark-mode-background-color;
	color: $dark-mode-font-color;

	.addProductTitle {
		color: $dark-mode-font-color;
	}
}
