$primary-color: #ffffff;
$secondary-color: #e7e4e4;
$primary-font-color: #032b03;
$dark-mode-background-color: #000000;
$dark-mode-font-color: #ffffff;
$header-footer-font-color: #1677ff;

.color1 {
	color: #0d9200;
}
.color2 {
	color: #43b500;
}
.color3 {
	color: #cfec0d;
}
.color4 {
	color: #fffb85;
}
.color5 {
	color: #fffbce;
}
