@import "../../styles/variables";

.home {
	background-color: $primary-color;
	color: $primary-font-color;
	padding: 24px;
}

.presentation {
	color: $primary-font-color;
}

.title {
	color: $primary-font-color;
}

.dark-mode {
	background-color: $dark-mode-background-color;
	color: var(--text-dark);

	.presentation {
		color: $dark-mode-font-color;
	}

	.title {
		color: $dark-mode-font-color;
	}
}

.titleContainer {
	display: flex;
	justify-content: center;
}

.box {
	display: flex;
	justify-content: center;
	margin: 8px 0;
}

.home {
	display: flex;
	flex-direction: column;
}
