// ProductWidget.scss

.cardContainer {
	margin: 4px;
	border: solid lightgray 1px;
	border-radius: 8px;
}

.card .ant-card-body {
	display: flex;
	padding: 8px;
	max-width: min-content;
	flex-direction: column;
}

.cardTitle {
	display: flex;
	justify-content: center;
	margin: 0;
}

.addToCardButton {
	display: flex;
	justify-content: center;
}
.dark-mode {
	.addToCardButton {
		color: #fff; // Dark mode text color
	}

	.cardTitle {
		color: #fff; // Dark mode text color
	}

	.card .ant-card-body {
		color: #fff; // Dark mode text color
	}

	.cardPrice {
		color: #fff;
	}
}
