.cardContainer {
	margin: 8px;
}

.card .ant-card-body {
	padding: 8px;
}

.cardTitle {
	display: flex;
	justify-content: center;
	margin: 0;
}

.addToCardButton {
	display: flex;
	justify-content: center;
}
