.light-mode .home-container {
	background-color: var(--background-light);
	color: var(--text-light);
}

.dark-mode {
	background-color: var(--background-dark);
	color: var(--text-dark);

	.presentation {
		color: white;
	}

	.title {
		color: white;
	}
}

.titleContainer {
	display: flex;
	justify-content: center;
}

.box {
	display: flex;
	justify-content: center;
	margin: 8px 0;
}

.home {
	display: flex;
	flex-direction: column;
}
