/* src/components/Navbar/Navbar.css */
.dark-mode {
	background-color: #001529;
}

.light-mode {
	background-color: #fff;
}

.logo {
	flex: 1;
	font-size: 1.5rem;
	color: #fff;
}

.menu {
	display: flex;
	align-items: center;
}

.cart-icon {
	margin-right: 20px;
}

.navbar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.switch-cart-container {
	display: flex;
	align-items: center;
}

/* Agrega estilos adicionales según sea necesario */
