/* src/components/Navbar/Navbar.scss */
.dark-mode {
	background-color: #001529;
	color: #fff;
}

.light-mode {
	background-color: #fff;
	color: #000;
}

.logo {
	flex: 1;
	font-size: 1.5rem;
	border: solid 2px green;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu {
	display: flex;
	align-items: center;
	border: solid 2px red;
}

.cart-icon {
	margin-right: 20px;
	position: relative;
}

.cart-badge {
	background-color: red;
	color: white;
	border-radius: 50%;
	padding: 4px 8px;
}

.cart-empty {
	display: none;
	// background-color: red;
	// color: white;
	// border-radius: 50%;
	// padding: 4px 8px;
}

.navbar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.switch-cart-container {
	display: flex;
	align-items: center;
}
