// src/styles.scss

$primary-color: #007bff;

body {
	font-family: "Arial", sans-serif;
}

// .header {
// 	background-color: $primary-color;
// 	color: white;
// 	padding: 1rem;
// }

.footer {
	background-color: $primary-color;
	color: white;
	padding: 1rem;
	text-align: center;
}

.main-content {
	margin: 1rem;
}

.product {
	border: 1px solid #ddd;
	padding: 1rem;
	margin-bottom: 1rem;
}

.cart-item {
	border: 1px solid #ddd;
	padding: 1rem;
	margin-bottom: 1rem;
}
